/* center of page */
body{
    background-color:rgb(229, 225, 218);
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin:0px
}
#container{
    max-width: 800px;
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    border:solid black 1px;
}
.button{
    background-color: cadetblue;
    padding:20px;
    border-radius:20px;
    margin-bottom: 20px;;
}
.button:hover{
    padding:22px;
}
